@charset "utf-8";
/* CSS Document */
#divtexto{widht:"480" ; heigth="auto"}
#divtexto1{widht:"480" ;heigth="auto"}
#divtexto2{widht:"480"; heigth="auto"}
#divtexto3{widht:"480 ; heigth="auto"}
#divtexto4{widht:"480"; heigth="auto"}
<

